.SearchHead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 90vw;
    margin: 20px 0 0 0;
    height: 6vh;
    font-size: 1.1rem;
}

button.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 10%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

button.search:hover {
    box-shadow: 0 0 2px 2px dodgerblue;
}

input.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    outline: none;
    margin: 0 0 0 3px;
    width: 89%;
}

input.search:focus {
    -webkit-box-shadow: 0 0 2px 2px dodgerblue;
    box-shadow: 0 0 2px 2px dodgerblue;
    border-radius: 5px;
}